---
name: Publish

on:
  push:
    branches: ["main"]
    tags: ["**"]  # run for all tags

env:
  DEFAULT_BRANCH: main

jobs:
  build:
    name: Build
    uses: freedomofpress/actionslib/.github/workflows/oci-build.yaml@main
    permissions:
      contents: read
      actions: read
      packages: write
    with:
      context: "."
      containerfile: deploy/Dockerfile
      build-args: |
        GIT_BRANCH=${{ github.sha }}
      registry: ghcr.io/freedomofpress/securedrop-docs
      requires-deep-history: true
      add-branch-tags: true
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
